@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
  --color-text: #383838;
  --background: #FFF;
}

body {
  color: var(--color-text);
  background: var(--background);
  font-family: Roboto, sans-serif;
}


 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
  .padded-wrapper {
    padding: 10px 10px
  }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  .padded-wrapper {
    padding: 10px 10px
  }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
  .padded-wrapper {
    padding: 10px 10px
  }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
  .padded-wrapper {
    padding: 10px 40px
  }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
  .padded-wrapper {
    padding: 10px 70px
  }
 } 

 @media only screen and (min-width: 1400px) {
  .padded-wrapper {
    padding: 10px 100px
  }
 } 

@media only screen and (min-width: 1600px) {
  .padded-wrapper {
    padding: 10px 120px
  }
}